[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]
disable=
  missing-module-docstring,
  missing-function-docstring,
  unspecified-encoding,
  invalid-name,
  trailing-whitespace,
  wildcard-import,
  redefined-builtin

[FORMAT]
indent-string='  '
max-line-length=120